ul {
  margin-block-start: 0pc;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* =============
    Mixins
============= */
/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */
/* =============
    Variables
============= */
#header-section {
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-areas: ". header .";
  grid-template-columns: 3% 94% 3%;
  padding-top: 2%;
  z-index: 100;
}
#header-section #header-container {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-areas: "mobilelogo burger" "mobilenav mobilenav";
  grid-template-columns: 50% 50%;
}
#header-section #header-container #button-container {
  display: none;
}
#header-section #header-container #logo-container {
  grid-area: mobilelogo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}
#header-section #header-container #logo-container #logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  cursor: pointer;
}
#header-section #header-container #logo-container #logo #logo-period {
  color: red;
}
#header-section #header-container #burger-container {
  grid-area: burger;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#header-section #header-container #burger-container #burger {
  position: absolute;
  z-index: 100;
}
@media (min-width: 1200px) {
  #header-section {
    background-color: transparent;
  }
  #header-section #header-container {
    grid-template-areas: "logo . buttons";
    grid-template-columns: 50% 42% 8%;
  }
  #header-section #header-container #burger-container {
    display: none;
  }
  #header-section #header-container #logo-container {
    grid-area: logo;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  #header-section #header-container #logo-container #logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
  }
  #header-section #header-container #logo-container #logo #logo-period {
    color: red;
  }
  #header-section #header-container #logo-container #logo:hover {
    color: red;
  }
  #header-section #header-container #button-container {
    grid-area: buttons;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

#masthead {
  display: none;
}

@media (min-width: 1200px) {
  #masthead {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 75vw;
    height: 85vh;
    background-color: #FF0000;
    border-radius: 0 3vh 0 0;
    display: grid;
    grid-template-columns: 95.5% 3.5% 1%;
    grid-template-areas: ". navbutton .";
  }
  #masthead #nav-button-container {
    grid-area: navbutton;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #masthead #inner-nav-container {
    grid-template-columns: 5% 90.5% 3.5% 1%;
    grid-template-areas: ". navlinks exitnavbutton .";
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #2C2C2C 60%, transparent);
    border-radius: 0 3vh 0 0;
    z-index: 3;
  }
  #masthead #inner-nav-container #exit-nav-button-container {
    grid-area: exitnavbutton;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #masthead #inner-nav-container #nav-menu-container {
    grid-area: navlinks;
    margin-top: 10%;
    margin-bottom: 30%;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: none;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu .navlink {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    font-family: "IBM Plex Mono", sans-serif;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu .navlink:hover {
    font-weight: bold;
  }

  ul {
    margin-block-start: 0pc;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}
#mobile-nav {
  background-color: #2C2C2C;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas: " . . . " ". mobilenav ." " . . . ";
}
@media (min-width: 1200px) {
  #mobile-nav {
    display: none;
  }
}
#mobile-nav #mobile-nav-container {
  grid-area: mobilenav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#mobile-nav #mobile-nav-container .mobilelink {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
#mobile-nav #mobile-nav-container .mobilelink:hover {
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
}

#hscroll {
  display: flex;
  flex-direction: column;
}
#hscroll #intro {
  background: #FDFDFD;
  height: 100vh;
}
#hscroll #stage-1 {
  height: 100vh;
}
#hscroll #stage2 {
  height: 100vh;
}
#hscroll #stage3 {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  height: 100vh;
}
#hscroll #stage4 {
  background: #009FFF;
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  height: 100vh;
}
#hscroll #stage5 {
  background: #8A2387;
  background: linear-gradient(to right, #8A2387, #E94057, #F27121);
  height: 100vh;
}

@media (min-width: 1200px) {
  #content {
    overflow-x: hidden;
  }

  #hscroll {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .proxy {
    visibility: hidden;
    opacity: 0;
  }

  /*== For DEMO Styling Only==*/
  body, nav, main, footer, div, section {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }

  #intro {
    display: grid;
    grid-template-columns: 30% 55% 15%;
    grid-template-areas: ". intro .";
    height: 100vh;
    width: 50vw;
  }
  #intro #intro-div {
    grid-area: intro;
    padding-top: 28vh;
  }
  #intro #intro-div #intro-line-2 {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 200;
    font-size: 20px;
  }
  #intro #intro-div #intro-line-3 {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 72% 8% 20%;
    grid-template-areas: "text . arrow";
  }
  #intro #intro-div #intro-line-3 #intro-line-3-text-div {
    display: flex;
    align-items: center;
  }
  #intro #intro-div #intro-line-3 #intro-line-3-text-div #intro-line-3-text {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 25px;
    grid-area: text;
  }
  #intro #intro-div #intro-line-3 #intro-arrow-div {
    grid-area: arrow;
    display: flex;
    align-items: center;
  }

  #stage1 {
    background: #FDFDFD;
    width: 550vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2% 15% 27% 18% 15% 15% auto;
    grid-template-areas: ". masthead intro inspiration process final next";
  }
  #stage1 #masthead-div {
    grid-area: masthead;
    padding-top: 18vh;
  }
  #stage1 #masthead-div #masthead-text-div {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: ". text";
    overflow: hidden;
  }
  #stage1 #masthead-div #masthead-text-div #masthead-text {
    grid-area: text;
    color: black;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
  }
  #stage1 #masthead-div #masthead-text-div #masthead-text #net-art-span {
    font-weight: bold;
  }
  #stage1 #net-intro-div {
    grid-area: intro;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #stage1 #net-intro-div #net-intro-text {
    width: 30%;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 20vh;
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
  }
  #stage1 #net-intro-div #net-intro-text h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-bottom: 0%;
  }
  #stage1 #net-intro-div #net-intro-text h2 {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  #stage1 #net-intro-div #net-hero {
    background-image: url(../img/net-hero.png);
    background-size: cover;
    background-repeat: none;
    width: 60%;
  }
  #stage1 #net-intro-div #net-circle {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    height: 50vh;
    margin-left: 26%;
  }
  #stage1 #net-inspiration-div {
    grid-area: inspiration;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20vh;
  }
  #stage1 #net-inspiration-div h1 {
    grid-area: title;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  #stage1 #net-inspiration-div #net-inspiration-content-div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "image text";
    grid-gap: 5%;
  }
  #stage1 #net-inspiration-div #net-inspiration-content-div #net-inspiration-image {
    width: 100%;
    grid-area: image;
  }
  #stage1 #net-inspiration-div #net-inspiration-content-div #net-inspiration-text-div {
    grid-area: text;
  }
  #stage1 #net-process-exploration-div {
    grid-area: process;
    display: grid;
    grid-template-areas: "column1 column2";
    grid-template-columns: 40% 60%;
    padding-right: 20%;
  }
  #stage1 #net-process-exploration-div #net-process-exploration-column-1 {
    grid-area: column1;
    padding-top: 20vh;
  }
  #stage1 #net-process-exploration-div #net-process-exploration-column-1 h1 {
    grid-area: title;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  #stage1 #net-process-exploration-div #net-process-exploration-column-1 img {
    max-width: 70%;
  }
  #stage1 #net-process-exploration-div #net-process-exploration-column-2 {
    grid-area: column2;
  }
  #stage1 #net-process-exploration-div #net-process-exploration-column-2 #masthead-progress-img {
    padding-top: 20%;
    width: 100%;
    margin-top: 2vh;
  }
  #stage1 #net-final-images-div {
    grid-area: final;
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "img .";
  }
  #stage1 #net-final-images-div #net-final-images-grid-div {
    grid-area: img;
  }
  #stage1 #net-final-images-div #net-final-images-grid-div h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;
  }
  #stage1 #net-final-images-div #net-final-images-grid-div img {
    width: 100%;
  }
  #stage1 #net-next-project-div {
    grid-area: next;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 15vh;
  }
  #stage1 #net-next-project-div h1 {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 0%;
    padding-right: 5%;
  }

  #stage2 {
    background: #FDFDFD;
    width: 100vw;
    height: 100vh;
  }

  #stage3 {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    width: 100vw;
    height: 100vh;
  }

  #stage4 {
    background: #009FFF;
    background: linear-gradient(to right, #009FFF, #ec2F4B);
    width: 100vw;
    height: 100vh;
  }

  #stage5 {
    background: #8A2387;
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    width: 100vw;
    height: 100vh;
  }
}
