ul {
  margin-block-start: 0pc;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* =============
    Mixins
============= */
/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */
/* =============
    Variables
============= */
#header-section {
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-areas: ". header .";
  grid-template-columns: 3% 94% 3%;
  padding-top: 2%;
  z-index: 100;
}
#header-section #header-container {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-areas: "mobilelogo burger" "mobilenav mobilenav";
  grid-template-columns: 50% 50%;
}
#header-section #header-container #button-container {
  display: none;
}
#header-section #header-container #logo-container {
  grid-area: mobilelogo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}
#header-section #header-container #logo-container #logo {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
}
#header-section #header-container #logo-container #logo #logo-period {
  color: #0029FF;
}
#header-section #header-container #burger-container {
  grid-area: burger;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#header-section #header-container #burger-container #burger {
  position: absolute;
  z-index: 100;
}
@media (min-width: 1200px) {
  #header-section {
    background-color: transparent;
  }
  #header-section #header-container {
    grid-template-areas: "logo . buttons";
    grid-template-columns: 50% 42% 8%;
  }
  #header-section #header-container #burger-container {
    display: none;
  }
  #header-section #header-container #logo-container {
    grid-area: logo;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  #header-section #header-container #logo-container #logo {
    font-family: "Bebas Neue", cursive;
    font-size: 35px;
  }
  #header-section #header-container #logo-container #logo #logo-period {
    color: #0029FF;
  }
  #header-section #header-container #logo-container #logo:hover {
    color: #0029FF;
  }
  #header-section #header-container #button-container {
    grid-area: buttons;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

#masthead {
  display: none;
}

@media (min-width: 1200px) {
  #masthead {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 75vw;
    height: 85vh;
    background-color: #0029FF;
    border-radius: 0 3vh 0 0;
    display: grid;
    grid-template-columns: 95.5% 3.5% 1%;
    grid-template-areas: ". navbutton .";
  }
  #masthead #nav-button-container {
    grid-area: navbutton;
    display: flex;
    align-items: center;
  }
  #masthead #inner-nav-container {
    grid-template-columns: 5% 90.5% 3.5% 1%;
    grid-template-areas: ". navlinks exitnavbutton .";
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #2C2C2C 60%, transparent);
    border-radius: 0 3vh 0 0;
    z-index: 3;
  }
  #masthead #inner-nav-container #exit-nav-button-container {
    grid-area: exitnavbutton;
    display: flex;
    align-items: center;
  }
  #masthead #inner-nav-container #nav-menu-container {
    grid-area: navlinks;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: none;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu .navlink {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }
  #masthead #inner-nav-container #nav-menu-container #navmenu .navlink:hover {
    font-weight: bold;
  }

  ul {
    margin-block-start: 0pc;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}
#mobile-nav {
  background-color: #2C2C2C;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas: " . . . " ". mobilenav ." " . . . ";
}
@media (min-width: 1200px) {
  #mobile-nav {
    display: none;
  }
}
#mobile-nav #mobile-nav-container {
  grid-area: mobilenav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#mobile-nav #mobile-nav-container .mobilelink {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
#mobile-nav #mobile-nav-container .mobilelink:hover {
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
}

#hscroll {
  display: flex;
  flex-direction: column;
}
#hscroll #stage-1 {
  background: #dd3e54;
  background: linear-gradient(to right, #6be585, #dd3e54);
  height: 100vh;
}
#hscroll #stage-2 {
  background: #090979;
  background: linear-gradient(to right, #090979, #00d4ff);
  height: 100vh;
}
#hscroll #stage-3 {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  height: 100vh;
}
#hscroll #stage-4 {
  background: #009FFF;
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  height: 100vh;
}
#hscroll #stage-5 {
  background: #8A2387;
  background: linear-gradient(to right, #8A2387, #E94057, #F27121);
  height: 100vh;
}

@media (min-width: 1200px) {
  #content {
    overflow-x: hidden;
  }

  #hscroll {
    width: 850vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .stage {
    width: 200vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 20px;
  }

  .proxy {
    visibility: hidden;
    opacity: 0;
  }

  #btnright {
    position: absolute;
    z-index: 9999;
    right: 30px;
    bottom: 15px;
    background: #fcc;
    border: none;
    color: #000;
    font-size: 16px;
    line-height: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #btncontact {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 30px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
  }

  /*== For DEMO Styling Only==*/
  body, nav, main, footer, div, section {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }

  a {
    color: #fff;
  }

  .panel {
    text-align: center;
    color: #fff;
    font-size: 2em;
  }

  #stage-1 {
    background: #dd3e54;
    background: linear-gradient(to right, #6be585, #dd3e54);
    height: 100vh;
  }

  #stage-2 {
    background: #090979;
    background: linear-gradient(to right, #090979, #00d4ff);
    width: 50vw;
    height: 100vh;
  }

  #stage-3 {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    height: 100vh;
  }

  #stage-4 {
    background: #009FFF;
    background: linear-gradient(to right, #009FFF, #ec2F4B);
    height: 100vh;
  }

  #stage-5 {
    background: #8A2387;
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    height: 100vh;
  }
}
