
body{
  padding: 0;
  margin: 0;
}
   

  #hscroll {
    display: flex;
    flex-direction: column;
    #intro {
      display: grid;
      grid-template-columns: 5% 90% 5%;
      grid-template-areas: ". intro .";
      #intro-div{
        grid-area: intro;
        padding-top: 15vh;
        p{ 
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 100;
          font-size: 20px;
        }
        #intro-line-3{
          display: none;
        }
      }
    }
    #stage1 {
      margin-top: 15%;
      #masthead-div{
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas: 
        ". masthead ."
        ". text .";
        #net-masthead{
          grid-area: masthead;
        }
        #masthead-text-div{
          grid-area: text;
        }
      }
      #net-intro-div{
        margin-top: 15%;
        #net-intro-text{
          margin-left: 5%;
          margin-right: 5%;
          h1{
            font-size: 50px;
          }
        }
        #net-hero{
          margin-top: 5vh;
          height: 40vh;
          background-image: url(../img/net-hero.png);
          background-position: center;
          background-size: cover;
        }
        img{
          display: none;
        }
      }

      #net-inspiration-div{
        margin-top: 15%;
        h1{
        font-size: 50px;
        margin-left: 5%;}
        img{
          width: 100%;
        }
        p{
        margin-left: 5%;
        margin-right: 5%;}
      }
      #net-process-exploration-div{
        img{
          width: 100%;
        }
        p{
        margin-left: 5%;
        margin-right: 5%;}

      }
      #net-final-images-div{
        margin-top: 15%;
        img{
          width: 100%;
        }
      }
      #net-next-project-div{
        display: none;
      }
    }
    #stage2 {
      margin-top: 20%;
      #appel-intro-section{
        margin-left: 5%;
        margin-right: 5%;
      }
      #appel-pages-section{
        margin-top: 15%;
        display: block;
        img{
          width:100%;
        }
      }

      #appel-farm-next-project{
        display: none;
      }
    }
    #stage3 {
      margin-top: 20%;
      #Scelero-Process-Explorations{
        #scelero-process-text{
          margin-left: 15%;
          margin-right: 15%;
        }
        #scelero-process-img-div{
          width: 100%;
          #scelero-process-img{
            #scelero-process-column1{
              img{
                width: 100%;
              }
            }
            #scelero-process-column2{
              img{
                width: 100%;
              }
            }
          }
        }
  
      }
      #scelero-pages{
        display: block;
        img{
          width: 100%;
        }
      }
      #scelero-next{
        display: none;
      }
    }
    #stage4 {
      #nestinghousehero{
        img{
          display: none;
        }
        margin-left: 5%;
        margin-right: 5%;
      }
      #nestinghouseprogress{
        img{
          width: 100%;
        }
      }
      #nestinghousefinallogos{
        img{
          width: 100%;
        }
      }
      #nestinghousebrandextensions{
        img{
          width: 100%;
        }
      }
      #nestinghousenext{
        display: none;
      }
    }
    #stage5 {
      #weshero{
        display: none;
      }

      #wesdetails{
        img{
          width: 100%;
        }
      }
      #wesmap{
        img{
          width: 100%;
        }
      }
    }

    #aboutsection{
      img{
        margin-left: 20%;
        width:80%;
      }
      p{
        margin-right: 5%;
        margin-left: 5%;
      }
    }
  }


    



@include xl{
  #content {
    overflow-x: hidden;
  }
  #hscroll {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    #intro {
      display: grid;
      grid-template-columns: 30% 55% 15%;
      grid-template-areas: ". intro .";
      height: 100vh;
      width: 50vw;
      #intro-div{
        grid-area: intro;
        padding-top: 28vh;
        #Intro-logo{
          padding: 0%;
          width: 100%;
        }
        #intro-line-2{
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 200;
          font-size: 20px;
        }
        #intro-line-3{
          padding-top: 5%;
          display: grid;
          grid-template-columns: 72% 8% 20%;
          grid-template-areas: "text . arrow";
          #intro-line-3-text-div{
            display: flex;
            align-items: center;
            #intro-line-3-text{
              font-family: 'IBM Plex Mono', sans-serif;
              font-weight: 400;
              font-size: 25px;
              grid-area: text;
            }
          }
          #intro-arrow-div{
            grid-area: arrow;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  
    #stage1 {
      margin-top: 0%;
      background: 	#FDFDFD;
      width: 550vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 2% 15% 27% 18% 15% 15% auto;
      grid-template-areas: ". masthead intro inspiration process final next" ;
      #masthead-div{
        grid-area: masthead ;
        padding-top: 18vh;
        display: block;
  
        
        #masthead-text-div{
          display: grid;
          grid-template-columns: 60% 40%;
          grid-template-areas: ". text" ;
          overflow: hidden;
  
          #masthead-text{
            grid-area: text;
            color: black;
            font-family: 'IBM Plex Mono', sans-serif;
            font-size: 15px;
            text-align: left;
            font-weight: lighter;
  
            #net-art-span{
              font-weight: bold;
            }
          }
        }
      }
  
      #net-intro-div{
        margin-top: 0%;
        grid-area: intro;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        #net-intro-text{
          margin-left: 0%;
          margin-right: 0%;
          width: 30%;
          padding-left: 3%;
          padding-right: 5%;
          padding-top: 20vh;
          color: black;
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 16px;
          text-align: left;
          font-weight: lighter;
          h1{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 60px;
            margin-bottom: 0%;
          }
          h2{
            font-family: 'IBM Plex Mono', sans-serif;
            font-size: 25px;
            font-weight: 200;
            margin-bottom: 0%;
            margin-top: 0%;
          }
        }
  
        #net-hero{
          margin-top: 0;
          height: 100vh;
          background-image: url(../img/net-hero.png);
          background-size: cover;
          background-position: center;
          background-repeat: none;
          width: 60%;
        }
  
        #net-circle{
          position: absolute;
          display: block;
          z-index: 3;
          bottom: 0px;
          height: 50vh;
          margin-left : 26%;
        }
      }
      
      #net-inspiration-div{
        margin-top: 0%;
        grid-area: inspiration;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20vh;
        p{
          margin-left: 0%;
          margin-right: 0%;}
        h1{
          grid-area: title;
          font-family: 'Bebas Neue', sans-serif;
          font-size: 60px;
          margin-bottom: 0%;
          padding-bottom: 0%;
          
        }
        #net-inspiration-content-div{
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-areas: 
          "image text";
          grid-gap: 5%;
          #net-inspiration-image{
            width: 100%;
            grid-area: image;
          }
          #net-inspiration-text-div{
            grid-area: text;
          }
        }
      }
  
      #net-process-exploration-div{
        grid-area: process;
        display: grid;
        grid-template-areas: "column1 column2";
        grid-template-columns: 40% 60%;
        padding-right: 20%;
        #net-process-exploration-column-1{
          grid-area: column1;
          padding-top: 20vh;
          h1{
            grid-area: title;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 60px;
            margin-bottom: 0%;
            padding-bottom: 0%;
          }
          img{
            width: 70%;
          }
          p{
            margin-left: 0%;
            margin-right: 0%
          }
        }
        #net-process-exploration-column-2{
          grid-area: column2;
          #masthead-progress-img{
            padding-top: 20%;
            width: 100%;
            margin-top: 2vh;
          }
        }
        
      }
  
      #net-final-images-div{
        margin-top: 0%;
        grid-area: final;
        padding-top: 10vh;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: "img .";
  
        #net-final-images-grid-div{
          grid-area: img;
          h1{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 40px;
            margin-bottom: 0%;
            padding-bottom: 0%;
            text-align: center;
          }
          img{width: 100%;}
        }
      }
  
      #net-next-project-div{
        grid-area: next;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 15vh;
        h1{
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 200;
          font-size: 60px;
          margin-bottom: 0%;
          padding-right: 5%;
        }
        
      }
  
    }
  
  
  
  
    #stage2 {
      margin-top: 0%;
      background: 	#FDFDFD;
      width: 800vw;
      height: 100vh;
      display: grid;
      grid-template-columns:  13% 6% 10% 63% auto;
      grid-template-areas: "hero intro logo images next";
  
      #appel-farm-hero-div{
        margin-left: 8%;
        grid-area: hero;
        background-image: url(../img/appel-farm-hero.png);
        background-size: cover;
        background-repeat: none;
      }
  
      #appel-intro-section{
        grid-area: intro;
        padding-left: 16vh;
        padding-top: 20vh;
        margin-left: 0%;
        margin-right: 0%;
        h1{
          font-family: 'Bebas Neue', sans-serif;
          font-size: 60px;
          margin-bottom: 0%;
        }
        h2{
          font-family: 'IBM Plex Mono', sans-serif;
          font-size: 25px;
          font-weight: 200;
          margin-bottom: 0%;
          margin-top: 0%;
        }
      }
  
      #appel-logo-section{
        display: grid;
        grid-template-columns: auto 60% auto;
        grid-template-areas: " . logo . ";
        padding-top: 25vh;
        #logo{grid-area: logo;}
      }
  
      #appel-pages-section{
        margin-top: 0%;
        height: 100vh;
        img{
          width: 14%;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
  
      #appel-farm-next-project{
        grid-area: next;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 15vh;
        h1{
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 200;
          font-size: 60px;
          margin-bottom: 0%;
          padding-right: 5%;
        }
      }
    }
  
    #stage3 {
      margin-top: 0%;
      grid-area: images;
      width: 900vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 26% 16% 2% auto 2% 7%;
      grid-template-areas: "hero process . pages . next";
      #scelero-hero{
        grid-area: hero;
        background-image: url(../img/scelero-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        >div{
          display: grid;
          grid-template-columns: 64% auto 21.5%;
          grid-template-areas: ". text .";
          #scelero-text{
            grid-area: text;
            padding-top: 20vh;
          }
        }
      }
      #Scelero-Process-Explorations{
        grid-area: process;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas: "text img";
        #scelero-process-text{
          grid-area: text;
          padding-left: 15%;
          padding-right: 15%;
          padding-top: 20vh;
          margin-left: 0%;
          margin-right: 0%;
        }
        #scelero-process-img-div{
          width: 100%;
          grid-area: img;
          display: flex;
          justify-content: center;
          align-items: center;
          #scelero-process-img{
            display: grid;
            grid-template-columns: 67% 33%;
            grid-template-areas: "img1 img2";
            gap: 34px;
    
            #scelero-process-column1{
              grid-area: img1;
              img{
                width: 100%;
              }
            }
            #scelero-process-column2{
              grid-area: img2;
              display: grid;
              gap: 20px;
              img{
                width: 100%;
              }
              #scelero-process-image1{
                margin-left: 10%;
              }
            }
          }
        }
  
      }
  
      #scelero-pages{
        grid-area: pages;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
          width: 17%;
        }
        .scelero-cover{
          width: 9%;
        }
        
      }
  
      #scelero-next{
        grid-area: next;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 15vh;
        h1{
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 200;
          font-size: 60px;
          margin-bottom: 0%;
          padding-right: 5%;
        }
      }
  
    }
  
  
  
    #stage4 {
      width: 500vw;
      height: 100vh;
      position: relative;
      display: grid;
      grid-template-columns: 18% 16% 21% 30% auto;
      grid-template-areas: "hero progress logos extensions next";
  
      #nestinghousehero{
        grid-area: hero;
        margin-left: 0%;
        margin-right: 0%;
        img{
          display: block;
          position: absolute;
          left:0px;
          bottom:0px;
        }
        >div{
          height: 100vh;
          z-index: 3;
          margin-left: 60%;
          margin-right: 2%;
          margin-top: 20vh;
        }
      }
      #nestinghouseprogress{
        height: 100vh;
        grid-area: progress;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          height: 60vh;
        }
      }
      #nestinghousefinallogos{
        height: 100vh;
        grid-area: logos;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
        img{
          height: 80vh;
        }
      }
      #nestinghousebrandextensions{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
          height: 80vh;
        }
      }
      #nestinghousenext{
        height: 100vh;
        grid-area: next;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 15vh;
        padding-left: 25vh;
        h1{
          font-family: 'IBM Plex Mono', sans-serif;
          font-weight: 200;
          font-size: 60px;
          padding-right: 5%;
        }
      }
      }
  
    #stage5 {
      width: 180vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 10% 25% 5% 30% 5% auto;
      grid-template-areas: "hero intro . details . map";
      #weshero{
        display: block;
        img{height: 100vh;}
        grid-area: hero;
      }
      #wesintro{
        grid-area: intro;
        padding-right: 5%;
        padding-left: 23%;
        padding-top: 20vh;
      }
  
      #wesdetails{
        grid-area: details;
        display: flex;
        align-self: center;
        flex-direction: column;
        img{
          width: 100%;
        }
        h1{
          text-align: center;
        }
      }
  
      #wesmap{
        grid-area: map;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          height: 90vh;
          width: auto;
        }
      }
  
    }
  
    #aboutsection{
      position: relative;
      display: flex;
      width: 100vw;
      p{
        margin-left: 13%;
        margin-right: 49%;
        margin-top: 15%;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 20px;
        font-weight: 200;
      }
      img{
        position:absolute;
        margin-left: 35%;
        margin-top: 5%;
        width:60%;
      }
    }
  
    #contactsection{
      width: 100vw;
      h1{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 200px;
        font-weight: 100;
        margin-bottom: 0%;
        padding-left: 10%;
        padding-top: 5%;
      }
      p{
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 40px;
        margin-bottom: 0%;
        margin-top: 0%;
        padding-left: 10%;
      }
    }
  }

  .stage {
    // // width: calc(100vw - 100px);
    // // width: 200vw;
    // // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // z-index: 0;
    // padding: 20px;
  }
  .proxy {
    visibility: hidden;
    opacity: 0;
  }
  
  
  /*== For DEMO Styling Only==*/
  body, nav, main, footer, div, section { box-sizing: border-box;}
  body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  // a { color: #fff;}
  // .panel { text-align: center; color: #fff; font-size: 2em; }
}
  
  // @media only screen and (max-width: 991px) {
  //   body { padding-left: 0!important;}
  //   #hscroll {
  //     width: 100vw;
  //     height: auto;
  //     flex-direction: column;
  //   }
  //   .stage {
  //     width: 100vw;
  //     height: auto;
  //     min-height: 100vh;
  //   }
  //   #masthead {
  //     width: 100%;
  //     height: auto;
  //     padding: 10px 20px;
  //   }
  // }