
body{
  padding: 0;
  margin: 0;
}
   
   #hscroll {
      display: flex;
      flex-direction: column;
      #intro {
        background: white;
        height: 100vh;
      }
      #stage-1 {
        background: #dd3e54;
        background: linear-gradient(to right, #6be585, #dd3e54);
        height: 100vh;
      }
      #stage2 {
        background: #090979;
        background: linear-gradient(to right, #090979, #00d4ff);
        height: 100vh;
      }
      #stage3 {
        background: #833ab4;
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        height: 100vh;
      }
      #stage4 {
        background: #009FFF;
        background: linear-gradient(to right, #009FFF, #ec2F4B);
        height: 100vh;
      }
      #stage5 {
        background: #8A2387;
        background: linear-gradient(to right, #8A2387, #E94057, #F27121);
        height: 100vh;
      }
    }



@include xl{
  #content {
    overflow-x: hidden;
  }
  #hscroll {
    width: 560vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .stage {
    // width: calc(100vw - 100px);
    // width: 200vw;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 20px;
  }
  .proxy {
    visibility: hidden;
    opacity: 0;
  }
  
  #btnright {
    position: absolute;
    z-index: 9999;
    right: 30px;
    bottom: 15px;
    background: #fcc;
    border: none;
    color: #000;
    font-size: 16px;
    line-height: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #btncontact {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 30px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  /*== For DEMO Styling Only==*/
  body, nav, main, footer, div, section { box-sizing: border-box;}
  body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  a { color: #fff;}
  .panel { text-align: center; color: #fff; font-size: 2em; }

  #intro {
    height: 100vh;
    width: 80vw;
  }

  #stage1 {
    background: #dd3e54;
    background: linear-gradient(to right, #6be585, #dd3e54);
    width: 80vw;
    height: 100vh;
  }
  #stage2 {
    background: #090979;
    background: linear-gradient(to right, #090979, #00d4ff);
    width: 100vw;
    height: 100vh;
  }
  #stage3 {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    width: 100vw;
    height: 100vh;
  }
  #stage4 {
    background: #009FFF;
    background: linear-gradient(to right, #009FFF, #ec2F4B);
    width: 100vw;
    height: 100vh;
  }
  #stage5 {
    background: #8A2387;
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    width: 100vw;
    height: 100vh;
  }
}
  
  // @media only screen and (max-width: 991px) {
  //   body { padding-left: 0!important;}
  //   #hscroll {
  //     width: 100vw;
  //     height: auto;
  //     flex-direction: column;
  //   }
  //   .stage {
  //     width: 100vw;
  //     height: auto;
  //     min-height: 100vh;
  //   }
  //   #masthead {
  //     width: 100%;
  //     height: auto;
  //     padding: 10px 20px;
  //   }
  // }